@keyframes wave {

    0%,
    100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-10deg);
    }
}

.animateWave {
    animation: wave 1s ease-in-out infinite;
    transform-origin: 70% 70%;
}
